body{
    margin: 0;
}

ul {
    margin: 0;
}

.container{ 
    font-family: helvetica;
    font-weight: 100;
    display: grid;
    grid-template-columns: 5em 1fr;     
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar view";

    & .navigation{
        padding: 0;
        margin: 0;
        background: #f7f7f7;
        grid-area: sidebar;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        

        &__items{
            position: fixed;
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        &__item{
            display: flex;
        }

        &__link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #999;
            width: 5em;
            height: 5em;
            text-decoration: none;
            
            & svg {
                height: 2em;
                fill: #444
            }

            & span {
                font-size: 14px;
            }

            &_active{
                background: #47a3da;
                color: #fff;

                & svg{
                    fill:#fff;
                }
            }

            &:hover{
                background: #47a3da;
                text-decoration: none;
                color: #fff;

                & svg{
                    fill:#fff;
                }
            }


        }


    }

}

.content{
    grid-area: view;
    min-height: 100vh;
}